/* media queries */
@media(max-width:1200px){
  .card-img-top{
      width: 100%;
      height: 20vw;
      object-fit: cover;
  }
}
@media (min-width: 992px) {
  section{
    top: 250px;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  svg{
    height:700px;
  }
}
@media (max-width:994px) {
  section{
    background-color: white;
    position: static;
    width: 100%;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
  }

  .card-img-top{
      width: 100%;
      height: 35vw;
      object-fit: cover;
  }
  #heading{
    font-size: 2rem;
  }
  .mb-3{
    width: 70%;
  }
  .bg-img{
    display: none;
  }
  .sm-img{
    display:inline;
  }
}
@media (min-width: 576px) {
  svg{
    height:300px;
  }
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
